@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap');
@import "tailwindcss";

@theme {
  --font-barlow: "Barlow", sans-serif;
}

@layer base {
  body {
    @apply bg-slate-400 text-slate-600 font-barlow;
  }
  .textbox {
    @apply p-2
    border-1 border-slate-500/50
    bg-slate-50/75
    focus:inset-ring-2 focus:inset-ring-violet-500/25 focus:outline-none
    transition duration-200;
  }
  .btn {
    @apply p-2 rounded-lg
    border-2 border-transparent
    bg-slate-500/25 hover:bg-slate-500/50 active:bg-slate-50/50
    focus:inset-ring-2 focus:inset-ring-violet-500/25
    disabled:cursor-not-allowed disabled:text-slate-400 disabled:bg-slate-500/10
    transition duration-200 cursor-pointer;
  }
  .selector {
    @apply w-full shadow-xs
    bg-slate-50/75 hover:bg-slate-50/100 active:bg-slate-50/100 data-[checked]:bg-slate-50/100
    data-[checked]:inset-ring-2 data-[checked]:inset-ring-violet-500/25;
  }
  .btn-transparent {
    @apply bg-transparent;
  }
}
