@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-200 text-slate-800;
  }
  .textbox {
    @apply p-2 rounded-lg
    border-2 border-gray-200
    bg-slate-50
    focus:inset-ring-2 focus:inset-ring-violet-500/30 focus:outline-none
    transition duration-200;
  }
  .btn {
    @apply p-3 rounded-lg
    hover:bg-white active:bg-white
    focus:inset-ring-2 focus:inset-ring-violet-500/30
    disabled:cursor-not-allowed
    transition duration-200 cursor-pointer;
  }
  .selector {
    @apply bg-slate-200;
  }
  .btn-transparent {
    @apply bg-transparent;
  }
  .btn-mono-2 {
    @apply bg-slate-200;
  }
  .btn-mono-3 {
    @apply bg-slate-300
    disabled:text-slate-400 disabled:bg-slate-200;
  }
}
